<div class="featured-item" @onclick="@(async () => await FeaturedItemClicked.InvokeAsync(Data))">
    <div class="d-flex justify-content-center" style="@(Data.AssetPath.ToLower().Contains("guns/sidearms") || Data.AssetPath.ToLower().Contains("equippables/melee") ? "height: 80%;" : "")">
        <img src="@Data.DisplayIcon" />
    </div>
    <div style="position: absolute; bottom: 0.5rem;">
        @Data.DisplayName
    </div>
</div>