<div class="top-row px-4 appbar-items">
    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    @if (string.IsNullOrWhiteSpace(_stateContainer.Username))
    {
        <div @onclick="@(() => OpenLoginManagerAsync())">Login</div>
    }
    else
    {
        <div>@_stateContainer.Username</div>
    }
</div>